<div class="card-columns m-5">
    <div class="card" *ngFor="let dat of datos">
        <div class="card-header">
            <h2 class="card-title">{{dat.name}}</h2>
        </div>
        <div class="card-body">
            <img [src]="dat.ruta" alt="" style="width: 100%;">
            <h5>{{dat.brand}}</h5>
            <h5>{{dat.os}}</h5>
            <h5>{{dat.resolution}}</h5>
            <h5>{{dat.cpu}}</h5>
      </div>
      <div class="card-footer">
          <button type="button" class="btn btn-outline-success">Compare</button>
      </div>
    </div>
  </div>